#################
#Temporary files#
#################
*.swp
*.pyc
.env/*

###############
# Model  files #
###############
models/*

###############
# Data  files #
###############
data/*

###############
# Other files #
###############
.ipynb_checkpoints/*
*.ipynb_checkpoints
*__pycache__
.idea/*
references/*
packages/*
biaxial-rnn-music-composition-master
old/*
download_chopin.ipynb
mary.mid
learn.md
notes.md
output/*




